.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

.esphome/
.pioenvs/
.piolibdeps/
.platformio/
build/
dist/

secrets.yaml
examples/secrets.yaml
**/secrets.yaml
*.log
*.pid
*.zip
*.tar
*.tar.gz

handoff*/
private*/
local*/
tmp*/
